---
import { createProjectRelativeUrl } from '@/config/site';
import { isCurrentPath } from '@/utils/urls';

type NavItem = {
  title: string;
  url: string;
};

interface Props {
  items: readonly NavItem[];
  pathname: string;
}

const { items, pathname } = Astro.props;
---

<ul class="global-site-navigation__list">
  {
    items.map((item) => {
      const navIsActive = isCurrentPath(pathname, item.url);
      return (
        <li>
          <a
            class={`global-site-navigation__link${item.url === '/' ? ' global-site-navigation__link--home' : ''}${
              navIsActive ? ' is-current-page' : ''
            }`}
            href={createProjectRelativeUrl(item.url)}
            aria-current={navIsActive ? 'page' : undefined}
          >
            {item.title}
          </a>
        </li>
      );
    })
  }
</ul>
