---
import { createProjectRelativeUrl, siteBrandAssets } from '@/config/site';

interface Props {
  href?: string;
  logoAlt?: string;
  logoSrc?: string;
}

const {
  href = createProjectRelativeUrl('/'),
  logoAlt = 'BlackBox Records',
  logoSrc = createProjectRelativeUrl(siteBrandAssets.wordmarkLogo),
} = Astro.props;
---

<a class="header-brand-link" href={href} aria-label={logoAlt} data-astro-prefetch transition:name="site-brand">
  <img class="header-brand-logo" src={logoSrc} alt={logoAlt} />
</a>
